.splash-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  max-width: 100%;
  height: 780px;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  padding-top: 10%;
  box-sizing: border-box;
  font-family: sans-serif;

}

.splash-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
