body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   width: 100%;
    height: 100%; /* 确保高度占满 */
    /* 防止水平滚动条导致左侧偏移 */
    overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root, #root > div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    /* 确保外部包裹 EmergencyReport 的 div 也没有 padding */
}
